<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="gitHubMarkdownSettings"
                 type="Aliencube.GitHub.Markdown.Configurations.GitHubMarkdownSettings, Aliencube.GitHub.Markdown.Configurations"
                 requirePermission="false" />
    </configSections>

    <gitHubMarkdownSettings>
        <proxy useProxy="true" url="http://proxy:8080" domain="domain" username="username" password="password" />
        <productInformation name="GitHubMarkdownConverter" />
    </gitHubMarkdownSettings>

    <appSettings>
        <clear />
        <add key="UseProxy" value="false" />
        <add key="ProxyConnectionString" value="" />
        <add key="ProductInformation" value="GitHubMarkdownTest" />
    </appSettings>
</configuration>