<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="gitHubMarkdownSettings"
                 type="Aliencube.GitHub.Markdown.Configurations.GitHubMarkdownSettings, Aliencube.GitHub.Markdown.Configurations"
                 requirePermission="false" />
    </configSections>

    <gitHubMarkdownSettings>
        <proxy useProxy="false" url="" domain="" username="" password="" />
        <productInformation name="GitHubMarkdownConverter" />
    </gitHubMarkdownSettings>
</configuration>