<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="gitHubClientSettings"
                 type="Aliencube.GitHub.Markdown.Configurations.GitHubClientSettings, Aliencube.GitHub.Markdown.Configurations"
                 requirePermission="false" />
    </configSections>

    <gitHubClientSettings>
        <proxy useProxy="false" url="" domain="" username="" password="" />
        <productInformation name="GitHubMarkdownConverter" />
    </gitHubClientSettings>
</configuration>